name: CGL
on:
  push:
    branches:
      - '**'

jobs:
  cgl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3
          cache: 'pip'

      # Install dependencies
      - name: Install dependencies
        run: pip install -r requirements.txt -r requirements-dev.txt

      # Linting
      - name: Lint Editorconfig
        run: ec -verbose
      - name: Lint Python files
        run: pylint *.py
